  body {
  background-image: url("AWESOMEFOTOSHOP.jpg");
  background-size: 1400px 800px;
    background-repeat: no-repeat;
  }
	.y {color:#00FFFF;} 
    p.y {font-size: 25px;}
	body {background-color:#00FF00;}
	.x {background-color:#00FF7F;}
